body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

.container {
    width: 350px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 200px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eeeeee;
    margin-top: 10px;
    padding: 10px;
}

.deleteBtn {
    float: right;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}